buildYUS
buildYJP
.DS_Store
rgbds-061/*
rgbds-cn/*
tmp/
_copy.command
tools/flips
*.ips
# compiled objects
*.o
*.pcm
# compiled graphics
*.1bpp
*.2bpp
*.pic

# compiled roms
*.gbc
*.gb
*.patch

# rgbds extras
# *.map
*.sym

# tool binaries
*.exe

# precompiled python
*.pyc
*$py.class

# save game files
*.sgm
*.sav
*.rtc
*.sn*
*.sa*
*.sg1
roms/.DS_Store
roms/rb/.DS_Store
roms/rgb/.DS_Store
.DS_Store
rgbds-cn/
/backups
/reports
